// color
$jef_red: #ea6e5a;
$font_1: #333;
$font_2: #666;
$font_3: #999;
$bg: #fff;
$bg_1: #f1f1f1;
$bg_2: #fafafa;
// size
$wrap: 1248px;
$wrap_m: 960px;
$wrap_s: 750px;
$slide: 280px;
$content: 625px;
